h3{
    color: hsl(14, 45%, 36%);
}
.main{
    width: 50%;
    height: 50%;
    margin: auto;
   background: white;
   border-radius: 20px;
   padding: 25px;
   padding-top: 25px;
   margin-top: 40px;
   margin-bottom: 50px;
}
body{
    background-color: hsl(330, 100%, 98%); 
}
.preparation{
    background-color: hsl(330, 100%, 98%);
    border-radius: 10px;
    padding-left: 10px;
}